<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.springapp.mvc.domain.ArticlesEntity"/>
        <mapping class="com.springapp.mvc.domain.FirstpageEntity"/>
<!--         <mapping class="com.springapp.mvc.domain.RulesEntity"/> -->
        <mapping class="com.springapp.mvc.domain.TagsEntity"/>
        <mapping class="com.springapp.mvc.domain.TagsarcticleEntity"/>
        <mapping class="com.springapp.mvc.domain.UsersEntity"/>
<!--         <mapping class="com.springapp.mvc.domain.UsersrulesEntity"/> -->
        <mapping class="com.springapp.mvc.domain.AccessRight"/>
        <mapping class="com.springapp.mvc.domain.Article"/>
        <mapping class="com.springapp.mvc.domain.FirstPage"/>
        <mapping class="com.springapp.mvc.domain.Archive"/>

    </session-factory>
</hibernate-configuration>